<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoundationExtras - OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FoundationExtras - iOS - StaticLibrary.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FoundationExtras - iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>450AC2531949AB1B005B7904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450AC26A1949AB1B005B7904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450AC2D51949B356005B7904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450AC2EF1949B356005B7904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4578661B195535130021A72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45786625195535130021A72A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A03CB01951C17C00DE2307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A03CC01951C17D00DE2307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B8CB261951BFD900FA603A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B8CB441951BFF600FA603A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B8CB541951BFF600FA603A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F25E2A1951C21A00215432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F25E381951C21A00215432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
